doctype html

//- 输出<!--演示jade标签及属性-->
// 演示jade标签及属性

//- 输出<html lang='cn'>...</html>
html(lang='cn')

    //- 输出<head>...</head>
    head

        //- 输出<title>Test Attributes</title>
        title Test Attributes

        //- 输出<script src="/asset/js/attribute.js"></script>
        script(src='/asset/js/attribute.js')

        //- 输出<script type="text/javascript">...</script>
        script(type='text/javascript').
            $('.button').on('click', function () {
                alter('Hello');
            });

    //- 输出<body>...</body>
    body

        //- 输出<div id="wrapper" class="wrapper">...</div>
        #wrapper(class='wrapper')

            //- 输出<div id="header" data-title="x &gt; y" data-value="x < z"></div>
            //- attr=value, value内容会被转义; attr!=value, value的内容不会转义
            #header(data-title='x > y' data-value!='x < z')
                span Sub Title

            //- 输出<div id="content">...</div>
            #content

                //- 输出<a class="button" href="http://www.baidu.com">百度</a>
                a.button(href='http://www.baidu.com') 百度

                //- 输出<p class="success">success</p>, 属性值可以为js表达式s
                p(class=ok ? 'success' : 'failed') #{ok ? 'success' : 'failed'}

                //- 输出<form id="submit-form">...</form>
                form#submit-form

                    .row
                        //- 输出<input type="text" name="name" value="Alvin">
                        input(type='text' name='name' value='Alvin')

                    .row
                        //- 输出<input type="radio" name="gender" value="M" checked>Male, true可以省略
                        input(type='radio' name='gender' value='M' checked=true)
                        | Male

                        //- 输出<input type="radio" name="gender" value="F">Female, check=false可省略
                        input(type='radio' name='gender' value='F' checked=false)
                        | Female

                    .row
                        //- 输出<button type="submit" style="color:red;background:#ccc">提交</button>
                        -var style = {'color':'red', 'background': '#ccc'};
                        button(type='submit' style=style) 提交

                //- 输出<div class="pagination">...</div>
                .pagination

                    //- 输出<ul>...</ul>
                    ul
                        -var pages = [1, 2, 3, 4, 5];
                        -style = {'float': 'left', 'list-style': 'none'};
                        -var attributes = {'class': 'page', 'style': style};

                        for page in pages
                            //- 输出<li class="page" style="float:left;list-style:none">...</li>
                            li&attributes(attributes)= page